:root {
    --primary-color: #2E8B57;
    --secondary-color: #A3E4B7;
    --tertiary-color: #C6F5D4;
    --dark-color: #333;
    --light-color: #fff;
}

.section-padding {
    padding-top: 80px;
    padding-bottom: 140px;
}

/* Navbar */
.navbar {
    background-color: #fff;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
    padding: 15px 0;
    transition: 0.3s background-color;
}

.navbar-brand {
    font-weight: 500;
    color: #2E8B57;
    font-size: 24px;
    transition: 0.3s color;
}

.login-button {
    background-color: #C6F5D4;
    color: #000;
    font-size: 14px;
    padding: 8px 20px;
    border-radius: 50px;
    text-decoration: none;
    transition: 0.3s background-color;
}

.login-button:hover {
    background-color: #A3E4B7;
}

.navbar-toggler {
    border: none;
    font-size: 1.25rem;
}

.navbar-toggler:focus, .btn-close:focus {
    box-shadow: none;
    outline: none;
}

.nav-link {
    color: #666777;
    font-weight: 500;
    position: relative;
}

.nav-link:hover, .nav-link.active {
    color: #000;
}

@media (min-width: 991px) {
    .nav-link::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 0;
        height: 2px;
        background-color: #A3E4B7;
        visibility: hidden;
        transition: 0.3s ease-in-out;
    }
    
    .nav-link:hover::before, .nav-link.active::before {
        visibility: visible;
        width: 100%;
    }
}

/* HERO */
#hero {
    background: linear-gradient(rgba(0, 0, 0, 0.507), rgba(0, 0, 0, 0.438)), url(../assets/images/features/image1.jpg);
    background-position: center;
    background-size: cover;
}

/* SECTION TITLE*/
.section-title {
    margin-bottom: 60px;
}

.section-title .line {
    width: 60px;
    height: 3px;
    background-color: #2E8B57;
    margin: 16px auto 24px auto;
}

.iconbox {
    width: 70px;
    height: 70px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: rgba(var(--c-brand-rgb), 0.1);
    color: var(--c-brand);
    font-size: 34px;
    flex: none;
}